@charset "UTF-8"

.Navigation{
  position:absolute; 
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 75px;
  font-variant: small-caps;
  text-align: right;


}
.Tableau{
  
  
}
.Footer{
  font-weight: lighter;
  color:#999999; 
  text-align: center;
}